/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.AllCategoryHeader {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.category__header__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.category__header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.box {
    width: 100%;
    margin: 6px 0;
    display: flex;
    align-items: center;
    user-select: none;
}
.box label {
    font-size: 15px;
    color: #797979;
    padding-left: 8px;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
}
.box input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.box input:checked ~ .check {
    border-color: #fba100;
    box-shadow: 0px 0px 0px 15px #fba100 inset;
}
.box input:checked ~ .check::after {
    opacity: 1;
    transform: scale(1);
}
.box .check {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fba100;
    box-shadow: 0px 0px 5px 0px #fba100;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}
.box .check::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.6rem;
    border-radius: 5px;
}
.accordion:after {
    content: "−"; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "+"; /* Unicode character for "minus" sign (-) */
}
.active,
.accordion:hover {
    background-color: #eee;
}
.panel {
    padding: 0px 18px;
    background-color: #eeeeee;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.panel > p {
    font-size: 1.4rem;
    padding-top: 1.5rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.panel > p:last-child {
    padding-bottom: 1.5rem;
}
.panel > p > a {
    color: #797979;
    transition: all 0.3s ease;
}
.panel > p > a:hover {
    color: orange;
    text-decoration: underline;
}
.wrapper {
    padding: 3rem 0rem;
}
section.all__category__Wrapper {
    background: #fbfbfb;
    padding: 3rem 0rem;
}
.Categorywise__product.col-md-9.col-sm-8.col-12 {
    border-left: 1px solid #eeeeee;
}
.category__header__left > p > a {
    font-size: 1.4rem;
}

.category__header__right > p {
    font-size: 1.4rem;
    margin: 0;
}

.sort__btn__div {
    margin-left: 1rem;
}

.sort__btn__div > button {
    outline: none;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border: 1px solid #8e8e8e;
    background: whitesmoke;
}

.sort__btn__div > button:focus {
    border: 1px solid orange;
    background: orange;
    color: #fff;
}

.sort__btn__div > button:nth-child(2) {
    margin-left: -5px;
    margin-right: -5px;
}
.category__header__left > p > a {
    color: #000;
    transition: color 0.3s ease;
}

.category__header__left > p > a > i {
    margin: 0rem 0.5rem;
    color: #828282;
}
a.Category__Title {
    color: orange !important;
}
.category__header__left > p > a:hover {
    color: blue !important;
    text-decoration: underline;
}
section.About__Category__Details {
    padding: 3rem 0rem;
}

.about__category__details__wrapper {
    background: #fff;
    padding: 3rem;
    border-radius: 5px;
}

h1.Category__title {
    font-size: 1.8rem;
    color: #717171;
    margin-bottom: 1.5rem;
}

h1.Category__Description__title {
    font-size: 2.2rem;
    color: #717171;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

p.Category__Description {
    font-size: 1.4rem;
    text-align: justify;
    color: #8c8c8c;
}
.all__products__container {
    border-left: 1px solid #e4e4e4;
}
.all__products__content {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    cursor: pointer;
    transform: scale(1);
    border: 1px solid #e4e4e4;
    transition: transform 0.3s ease;
}
.all__products__content:hover {
    box-shadow: 0px 0px 9px -8px black;
    transform: scale(1.02);
    color: #000;
}
.all__products__img {
    text-align: center;
    width: 150px;
    height: 220px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all__products__img > img {
    width: 100%;
    height: auto;
}
.all__products__items__details > p:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media (max-width: 400px) {
    .AllCategoryHeader {
        display: flex;
        flex-direction: column;
    }
}
